<div class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="goalModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: todo, url: [goal, todo], remote: true, class: "") do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="goalModal"><%= "#{params[:action].camelize} #{todo.model_name.human}" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if todo.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>
              <ul>
                <% todo.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content, rows: 5 %>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>